src/etl-replatforming-mcp-server/samples/step_function_jobs/05_error_handling_complex.json
{
  "Comment": "Complex ETL pipeline with comprehensive error handling",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "data-validator",
        "Payload": {
          "tables": ["raw.customers", "raw.orders", "raw.products"],
          "validationRules": ["not_null", "data_types", "referential_integrity"]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ValidationFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "ExtractData"
    },
    "ExtractData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "Parameters": {
        "ClusterIdentifier": "data-warehouse",
        "Database": "staging",
        "Sql": "CREATE TABLE staging.customer_orders AS SELECT c.customer_id, c.name, c.email, o.order_id, o.total_amount, o.order_date, p.product_name FROM raw.customers c JOIN raw.orders o ON c.customer_id = o.customer_id JOIN raw.products p ON o.product_id = p.product_id WHERE o.order_date >= CURRENT_DATE - INTERVAL '7 days'"
      },
      "TimeoutSeconds": 1800,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 120,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "ExtractFailure",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.Timeout"],
          "Next": "TimeoutFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "TransformData"
    },
    "TransformData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "data-transformation-job",
        "JobName": "transform-customer-orders",
        "JobQueue": "etl-processing-queue",
        "Parameters": {
          "inputTable": "staging.customer_orders",
          "outputTable": "processed.customer_orders_transformed",
          "transformations": ["normalize_names", "calculate_metrics", "apply_business_rules"]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Batch.AWSBatchException"],
          "IntervalSeconds": 300,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TransformFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "LoadData"
    },
    "LoadData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "Parameters": {
        "ClusterIdentifier": "data-warehouse",
        "Database": "analytics",
        "Sql": "INSERT INTO analytics.customer_insights SELECT customer_id, name, email, COUNT(order_id) as total_orders, SUM(total_amount) as lifetime_value, AVG(total_amount) as avg_order_value, MAX(order_date) as last_order_date FROM processed.customer_orders_transformed GROUP BY customer_id, name, email"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "LoadFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-notifications",
        "Message": "ETL pipeline completed successfully",
        "Subject": "ETL Success Notification"
      },
      "End": true
    },
    "ValidationFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-alerts",
        "Message.$": "$.error.Cause",
        "Subject": "ETL Validation Failure"
      },
      "Next": "FailureCleanup"
    },
    "ExtractFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-alerts",
        "Message": "Data extraction failed - check source systems",
        "Subject": "ETL Extract Failure"
      },
      "Next": "FailureCleanup"
    },
    "TimeoutFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-alerts",
        "Message": "ETL pipeline timed out - check system performance",
        "Subject": "ETL Timeout Failure"
      },
      "Next": "FailureCleanup"
    },
    "TransformFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-alerts",
        "Message": "Data transformation failed - check batch job logs",
        "Subject": "ETL Transform Failure"
      },
      "Next": "FailureCleanup"
    },
    "LoadFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:etl-alerts",
        "Message": "Data loading failed - check target database",
        "Subject": "ETL Load Failure"
      },
      "Next": "FailureCleanup"
    },
    "FailureCleanup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
      "Parameters": {
        "ClusterIdentifier": "data-warehouse",
        "Database": "staging",
        "Sql": "DROP TABLE IF EXISTS staging.customer_orders; DROP TABLE IF EXISTS processed.customer_orders_transformed;"
      },
      "End": true
    }
  }
}